@if (toast.isVisible()) {
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
    <div class="toast show text-bg-success border-0 shadow-lg" role="alert">
      <div class="d-flex">
        <div class="toast-body">
          <i class="bi bi-check-circle-fill"></i> {{ toast.message() }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="toast.isVisible.set(false)"></button>
      </div>
    </div>
  </div>
}

@if (!isLoginPage()) {
  <app-navbar [isDarkMode]="isDarkMode()" (toggleDarkMode)="toggleTheme()" />
  <app-chatbot />
}

<main class="container-fluid">
  <router-outlet />
</main>